<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Yellalee's WotB Predictions League</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=0.4">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(assets) /styles/screen.css -->
        <link rel="stylesheet" href="/styles/screen.css" media="screen">
        <link rel="stylesheet" href="/styles/stashy.css" media="screen">
        <link rel="stylesheet" href="/bower_components/jquery-ui/themes/blitzer/jquery-ui.min.css" media="screen">
        <!-- endbuild -->

        <!-- build:js(assets) /scripts/scripts.js -->
        <script src="/bower_components/jquery/jquery.js"></script>
        <script src="/bower_components/jquery-ui/ui/minified/core.min.js"></script>
        <script src="/bower_components/jquery-ui/ui/minified/widget.min.js"></script>
        <script src="/bower_components/jquery-ui/ui/minified/position.min.js"></script>
        <script src="/bower_components/jquery-ui/ui/minified/button.min.js"></script>
        <script src="/bower_components/jquery-ui/ui/minified/datepicker.min.js"></script>
        <script src="/bower_components/jquery-ui/ui/minified/dialog.min.js"></script>
        <script src="/bower_components/jquery.blockUI.js"></script>
        <script src="/bower_components/Stashy.Notify.js"></script>
        <script src="/bower_components/jquery.cookie.js"></script>
        <script src="/bower_components/jquery.scrollTo.js"></script>
        <script src="/bower_components/jquery.easing.1.3.js"></script>
        <script src="/scripts/ui.config.js"></script>
        <script src="/scripts/fixtures-admin.js"></script>
        <script src="/scripts/index.js"></script>
        <script src="/scripts/about.js"></script>
        <script src="/scripts/register.js"></script>
        <script src="/scripts/predictions-report.js"></script>
        <!-- endbuild -->    
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"  media="screen">
        <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <div id="signin" style="top:0px!important;">
                {{#if auth.loggedIn}}
                <span class="btn" style="cursor: default;" href="#"><i class="fa fa-user fa-fw"></i> {{auth.username}}</span> (<a href="/signOut">Sign Out</a>)
                {{else}}
                <form action="/signIn" method="post">
                    <div class="float--left">
                        <input name="username" id="username" type="text" class="text-input sign-in" placeholder="username" value="{{username}}" />
                        <br/>
                        <input name="password" id="password" type="password" class="text-input sign-in" placeholder="password"/>
                    </div>
                    <div class="float--left">
                        <input name="rememberMe" id="rememberMe" type="checkbox" class="text-input sign-in" /> Remember Me
                        <br/>
                        <input type="submit" class="sign-in" value="Sign In" />
                    </div>
                    <div class="clr"></div>
                    <div class="warning">{{loginError}}</div>
                </form>
                {{/if}}
            </div>

            <div id="header" style="top:0px!important;">
                <div id="header_inn">
                    <div id="top_logo"><a href="#home_top" class="scroll">&nbsp;</a>
                        <div class="clr"></div>
                    </div>
                    <div class="clr"></div>
                </div>
                <div class="clr"></div>
            </div>
        </header>

        <ul id="header-nav" class="nav nav--block">
        </ul>

        <div class="container">
        {{{ body }}}
        </div>
        
        <footer>
           Footer Content 
        </footer>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '{{googleAnalyticsKey}}', 'auto');
          ga('send', 'pageview');

        </script>

        <script>
        $(document).ready(function(){

            // build navigation
            $('#header-nav').append($('<li><a href="/">Home</a></li>'));
            $('#header-nav').append($('<li><a href="/about">About</a></li>'));
            if (cookieCheck()) {
                {{#if auth.loggedIn}}
                {{#if auth.isAdmin}}
                $('#header-nav').append($('<li><a href="/admin">Admin</a></li>'));
                {{/if}}
                {{else}}
                $('#header-nav').append($('<li><a href="/register">Register</a>'));
                {{/if}}
            }
            $('#header-nav').append($('<li><a href="/table">League Table</a>'));

            if (!cookieCheck()) {
                $('header div#signin').remove();
            }
        });
        </script>

    </body>
</html>