<!--<form action="/saveFixtures" method="post">-->
	<span class="alpha">Fixtures Adminisatration</span>

	<div  class="float--right">
		<button type="button" class="btn btn--negative post-fixtures">Save Details</button>
	</div>

	<div id="first" class="grid page-block eleven-twelfths">
		<div class="grid__item one-whole">
			<span class="delta">Current Game</span>
		</div><!--
	 --><div class="grid__item one-quarter">
	 		Name
	 	</div><!--
	  --><div class="grid__item one-quarter">
			<input type="text" value="{{currentSeason.name}}" id="seasonName" />
		</div>
	</div>

	{{#each currentSeason.miniseasons}}
	<div class="grid page-block eleven-twelfths season-block">
		<div class="grid__item one-whole">
			<span class="delta">{{name}}</span>
		</div><!--
	 --><div class="grid__item one-third">
			<span class="Epsilon">Predictions Deadline</span>
		</div><!--
	 --><div class="grid__item two-thirds">
			<input type="text" class="miniseason-deadline text-input" id="{{htmlId}}-deadline" value="{{deadline}}" />
		</div><!--
	 --><div class="grid__item one-third">
			<span class="epsilon">Fixtures</span>
		</div><!--
	 --><div class="grid__item two-thirds">
			<div class="grid" id="{{htmlId}}-fixtures-grid"><!--
				{{#each fixtures}}
			 --><!--<div class="fixture-block">--><!--
			 	 --><div class="grid__item three-eighths">
						<input type="text" id="{{htmlId}}-f{{fixtureHtmlId}}-fixture-team" class="fixture-team input-text" size="12" value="{{team}}" />
					</div><!--
			 	--><div class="grid__item two-eighths">
						<select id="{{htmlId}}-f{{fixtureHtmlId}}-fixture-venue" class="fixture-venue">
							<option>H</option>
							<option>A</option>
						</select>
					</div><!--
			 	--><div class="grid__item three-eighths">
						<input type="text" id="{{htmlId}}-f{{fixtureHtmlId}}-fixture-date" class="fixture-date text-input" id="newFixtureDate" size="12" value="{{date}}" />
					</div><!--
			 --><!--</div>--><!--
				{{/each}}
		 --></div>
		</div><!--
	 --><div class="grid__item one-whole">
	 		<div class="rule--dotted"></div>
	 	</div><!--
	 --><div class="grid__item one-third">
			<label class="epsilon">Team</label>
			<input type="text" size="12" class="fixture-team new-fixture-input text-input" id="{{htmlId}}_add-fixture-team" placeholder="team name" />
		</div><!--
	 --><div class="grid__item one-sixth">
			<label class="epsilon">Home/Away</label>
			<select id="{{htmlId}}_add-fixture-venue" class="new-fixture-input">
				<option></option>
				<option>H</option>
				<option>A</option>
			</select>
		</div><!--
	 --><div class="grid__item one-third">
			<label class="epsilon">Fixture Date</label>
			<input type="text" size="12" class="fixture-date text-input new-fixture-input" id="{{htmlId}}_add-fixture-date" placeholder="dd/mm/yyyy" />
		</div><!--
	 --><div class="grid__item one-eighth left bottom">
			<button type="button" id="{{htmlId}}_add-fixture-button" class="btn btn--small btn--positive wotb-add-fixture">Add</button>
		</div>
	</div>
	{{/each}}

	<div>
		<button type="button" class="btn btn--negative post-fixtures">Save Details</button>
	</div>
<!--</form>-->

<script>
	$(document).ready(function(){

		// date pickers
		$('.miniseason-deadline').datepicker();
		$('.fixture-date').datepicker();

		// add fixture fields
		var removeErrorClass = function (el) {
			el.parent().removeClass('field-with-errors');
		};

		$('.new-fixture-input').keyup(function(){
			removeErrorClass($(this));
		});

		$('.new-fixture-input').change(function(){
			removeErrorClass($(this));
		});

		// add fixture buttons
		$('.wotb-add-fixture').click(function(){
			var miniSeasonId = $(this)
				.attr('id')
				.split('_')[0];

			var fixtureDateField = $('#' + miniSeasonId + '_add-fixture-date');
			var fixtureTeamField = $('#' + miniSeasonId + '_add-fixture-team');
			var fixtureVenueField = $('#' + miniSeasonId + '_add-fixture-venue');
			var fixtureDate = fixtureDateField.val();
			var fixtureTeam = fixtureTeamField.val();
			var fixtureVenue = fixtureVenueField.val();

			if (!fixtureDate || !fixtureTeam || !fixtureVenue) {
				if (!fixtureDate) fixtureDateField.parent().addClass('field-with-errors');
				if (!fixtureTeam) fixtureTeamField.parent().addClass('field-with-errors');
				if (!fixtureVenue) fixtureVenueField.parent().addClass('field-with-errors');
				return;
			}

			var fixturesDiv = $('#' + miniSeasonId + '-fixtures-grid');
			var numberOfFixtures = $('.fixture-team', fixturesDiv).length;

			var teamDiv = $('<div class="grid__item three-eighths">')
					.css('display', 'none')
					.append($('<input type="text" />')
						.attr('id', miniSeasonId + '-f' + numberOfFixtures + '-fixture-team')
						.attr('size', 12)
						.addClass('fixture-team')
						.addClass('input-text')
						.val(fixtureTeam));
			var venueDiv = $('<div class="grid__item two-eighths">')
					.css('display', 'none')
					.append(
						$('<select>')
							.attr('id', miniSeasonId + '-f' + numberOfFixtures + '-fixture-venue')
							.addClass('fixture-venue')
							.append('<option' + (fixtureVenue == 'H' ? ' selected' : '') + '>H</option>')
							.append('<option' + (fixtureVenue == 'A' ? ' selected' : '') + '>A</option>'));
			var dateDiv = $('<div class="grid__item three-eighths">')
					.css('display', 'none')
					.append($('<input type="text" />')
						.attr('id', miniSeasonId + '-f' + numberOfFixtures + '-fixture-date')
						.attr('size', 12)
						.addClass('fixture-date')
						.addClass('input-text')
						.val(fixtureDate)
						.datepicker());

			$('#' + miniSeasonId + '-fixtures-grid')
				.append($('<div class="fixture-block">')
					.append(teamDiv)
					.append(venueDiv)
					.append(dateDiv));

			teamDiv.show('slow');
			venueDiv.show('slow');
			dateDiv.show('slow');

			fixtureDateField.val('');
			fixtureTeamField.val('');
			fixtureVenueField.val('');

		});

		$('.post-fixtures').click(function(){
			var season = {
				name: $('#seasonName').val(),
				miniseasons: []
			};

			$('.season-block').each(function(i, miniSeasonDiv){
				season.miniseasons[i] = {
					deadline: $('#s' + (i+1) + '-deadline').val(),
					fixtures: []
				};
				$('.fixture-block', miniSeasonDiv).each(function(j, fixtureDiv){
					season.miniseasons[i].fixtures[j] = {
						team: $('#s' + (i+1) + '-f' + j + '-fixture-team').val(),
						venue: $('#s' + (i+1) + '-f' + j + '-fixture-venue').val(),
						date: $('#s' + (i+1) + '-f' + j + '-fixture-date').val()
					}
				});
			});

			$.post('/saveFixtures', season, function(){
				alert('ok');
			}, 'json');
		});
	});


</script>
