
<div class="alpha">Yellalee's NCFC Predictions League</div>

<div class="gamma cookie-warning hidden" id="cookie-notice">This site requires cookies to be enabled in your browser.</div>

{{#if message}}
	<input type="hidden" id="message" name="message" value="{{message}}"/>
{{/if}}

{{#if auth.loggedIn}}

{{#unless auth.userAccepted}}
	<div id="auth-notice" class="grid four-fifths">
		<div class="grid__item one-whole">
			<fieldset>
				<legend>Complete Registration</legend>
				To complete your registration, post your auth code ({{auth.userAuthCode}}) on the <a href="{{config.urls.wotb}}" target="_blank">WotB</a> messageboard, for the attention of Yellalee.  Until you do that, your predictions won't be counted.
			</fieldset>
		</div>
	</div>
{{/unless}}

{{#if season.current}}
<div id="first" class="grid">
	<div class="grid__item five-eighths">
		<span class="delta">Predictions for {{season.name}}</span>
	</div><!--
 --><div class="grid__item three-eighths">
		<button type="button" class="btn btn--small btn--negative post-predictions hidden">Save Predictions</button>
	</div>
</div>

{{#each season.miniseasons}}
<div class="grid page-block eleven-twelfths miniseason-block">
	<div class="grid__item one-whole">
		<span class="delta">Miniseason {{index}} - Deadline {{deadline}}, 23:59:59{{#if open}}{{else}} (closed){{/if}}</span>
	</div><!--
	{{#each fixtures}}
 --><div class="fixture-block"><!--
 	 --><div class="grid__item three-eighths fixture-team">
 	 		{{team}}
		</div><!--
	 --><div class="grid__item one-eighth fixture-venue">
	 		({{venue}})
	 	</div><!--
 	 --><div class="grid__item four-eighths">
 	 		{{#if ../open}}
			<select class="enable-save fixture-prediction">
				<option></option>
				<option{{#compare prediction '==' 'Win'}} selected{{/compare}}>Win</option>
				<option{{#compare prediction '==' 'Draw'}} selected{{/compare}}>Draw</option>
				<option{{#compare prediction '==' 'Lose'}} selected{{/compare}}>Lose</option>
			</select>
			{{else}}
				{{#compare prediction '==' ''}}-{{/compare}} {{prediction}}
 	 		{{/if}}
		</div><!--
 --></div><!--			 
	{{/each}}
--></div>
{{/each}}

{{else}}
	<div class="game-not-ready">
		We're not quite ready to accept your predictions yet.  Keep an eye on WotB for announcements.
	</div>
{{/if}}
{{else}}
	<div>
		Get started by <a href="/register">registering</a> or logging in.
	</div>
{{/if}}

<div>
	<button type="button" class="btn btn--negative post-predictions hidden last">Save Predictions</button>
</div>

<script>
	$(document).ready(jsInit);
</script>